.button {
    color: #000;
    background-color: rgb(223, 223, 223);
    width: 100px;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 3px;
    display: flex;
    justify-content: center;
};